{% extends 'base.html' %} {% block body %}
<div class="m-8">
  <h1 class="text-3xl font-bold">Hello {{request.user}} 😃😃😃</h1>
</div>
{% if todos %}
<div
  class="h-100 w-full flex items-center justify-center bg-teal-lightest font-sans"
>
  <div class="bg-white rounded shadow p-6 m-4 w-full lg:w-3/4 lg:max-w-lg">
    <div>
      <h2 class="text-3xl font-semibold mb-3">
        Number of todos: {{ todos|length }}
      </h2>

      {% for todo in todos reversed %}

      <div class="flex mb-4 items-center">
        <p class="w-full">{{todo.title}}</p>
        <a
          href="/update/{{todo.title}}"
          class="flex-no-shrink p-2 ml-4 mr-2 border-2 rounded hover:text-blue-500"
        >
          See details or Update
        </a>
        <a
          href="{% url 'delete' todo.id %}"
          class="flex-no-shrink p-2 ml-2 border-2 rounded hover:text-blue-500"
        >
          Remove
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% else %}
<div
  class="h-100 w-full flex items-center justify-center bg-teal-lightest font-sans"
>
  <div class="bg-white rounded shadow p-6 m-4 w-full lg:w-3/4 lg:max-w-lg">
    <h1 class="text-4xl font-bold">Sorry . No todos ..Go and add some</h1>
  </div>
</div>

{% endif %} {% endblock body %}
