{% extends "base.html" %} {% block body %}
<!-- {% if request.user != "AnonymousUser" %}
    <meta http-equiv="REFRESH" content="0;url=http://127.0.0.1:8000/">
{% endif %} -->
<section
  class="bg-cover md:pt-40 pt-28 md:pb-28 pb-14 innerpage-area"
  style="background-image: url(assets/images/hero-banner-bg.svg)"
>
  <div class="container mx-auto">
    <div class="text-center page-title">
      <h1 class="font-bold text-4xl lg:text-7xl text-coolGray-900">Sign in</h1>
    </div>
    <div class="relative text-center banner-box">
      <div class="banner-dot hidden lg:block">
        <img
          class="absolute left-0 banner-dot-1 -top-28 top-bottom-animation-1"
          src="https://nft-apasd40-gmailcom.vercel.app/assets/images/hero-banner-dot-1.svg"
          alt="hero-banner-dot-1"
        />
        <img
          class="absolute bottom-0 right-0 -top-48 banner-dot-2 top-bottom-animation-2"
          src="https://nft-apasd40-gmailcom.vercel.app/assets/images/hero-banner-dot-2.svg"
          alt="hero-banner-dot-2"
        />
      </div>
    </div>
  </div>
</section>
<div class="page-content-area">
  <div class="container mx-auto">
    <div class="forms-box lg:w-8/12 mx-auto">
      <div class="login-box shadow-lg rounded-md p-12 sm:p-24">
        <h2 class="text-3xl pb-6 border-b font-bold text-coolGray-900">
          Sign in 
        </h2>
        <form action="/signin/" method="POST">
          {% csrf_token %}
          <div class="mb-6">
            <label
              class="text-coolGray-600 font-normal mb-4 text-base block pt-6"
            >
              Username *
            </label>
            <input
              class="border border-coolGray-300 px-4 w-full leading-none h-12 focus:border-indigo-500 focus:outline-none rounded-md text-base font-normal placeholder-coolGray-400 text-coolGray-600"
              type="text"
              name="username"
            />
          </div>
            <div class="mb-6">
            <label
              class="text-coolGray-600 font-normal mb-4 text-base block pt-6"
            >
              email *
            </label>
            <input
              class="border border-coolGray-300 px-4 w-full leading-none h-12 focus:border-indigo-500 focus:outline-none rounded-md text-base font-normal placeholder-coolGray-400 text-coolGray-600"
              type="email"
              name="email"
            />
          </div>
          <div class="mb-6">
            <label class="text-coolGray-600 font-normal mb-4 text-base block">
              Password *
            </label>
            <input
              class="border border-coolGray-300 px-4 w-full leading-none h-12 focus:border-indigo-500 focus:outline-none rounded-md text-base font-normal placeholder-coolGray-400 text-coolGray-600"
              type="password"
              name="password"
            />
          </div>
          <div
            class="lg:flex items-center justify-between cursor-pointer mr-4 my-2 mt-8"
          ></div>
          <div class="login-btn mt-4 md:mt-8">
            <button
              type="submit"
              class="inline-block px-7 py-3 bg-indigo-500 text-white rounded-md"
            >
              Sign in
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
